/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import '~ngx-toastr/toastr.css';

.header{
    background-color: #04192E;
    display: block;
    padding: 3%;
    color:white;
    font-size: 26px;
}
